<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/styles/style.css">
</head>
<body>
    <header class="headerdiv">
        <img src="../static/img/coffee1.jpeg" class="img">
        <p class="pname1">커피사줘<p>
        
        <div class="bigdiv">
           
            
            <p class="pname">카페 등록 하기</p>
            <div class="smallheader1" id="toggle">
            <form action="./index" method="post">
            <div class="smallheader">
            
                <div class="tinydiv tinydiv-1">
                    <p>카페 이름</p>
                    <input type="text" class="inputwidth" name ='cafe-name'>
                </div>
                <div class="tinydiv">
                    <p>분위기</p>
                    <input type="text"class="inputwidth" name ='atmospher'>
                </div>
                <div class="tinydiv">
                    <p>테이블 수</p>
                    <input type="int" class="inputwidth" name ='tableCnt'>
                </div>
                <div class="tinydiv">
                    <p>serving-time</p>
                    <input type="int" class="inputwidth" name = 'time'>
                </div>
                <div class="tinydiv">
                    <p>주소</p>
                    <input type="text" class="inputwidth" name = 'address'>
                </div>
                <div>  
                    <button>등록</button>
                </div>
                <div>
                    <button id="closebutton" onclick="close()">close</button>
                </div>
            </div>
            </form>
            </div>
        </div>
    
    <div class="buttondiv">
        <button class="buttonposition" onclick="toggle()">카페등록</button>
    </div>

</header>
<hr>
      

            <main>
        <h1 class="h1style">카페 랭킹 Top3</h1>
        <p class="pname2">
Ut ut qui et aliqua ex laboris. Ad occaecat pariatur id tempor minim ea tempor esse id sunt.
        </p>    
        <div class="caferank">
            <div class="caferank-1">
                <img src="dd" alt="이미지">
                <h2>1위 카페</h2>
                <p></p>
            </div>
            <div class="caferank-2">
                <img src="dd" alt="이미지">
                <h2>2위 카페</h2>
                <p></p>
            </div>
            <div class="caferank-3">
                <img src="dd" alt="이미지">
                <h2>3위 카페</h2>
                <p></p>
            </div>
        </div>
        
        <h1 class="h1style-1">메뉴 평점</h1>
        <h2 class="h2style">메뉴별 평점</h2>
       <div class="rankdiv1">
            <div class="rankdiv-1">
                <p>1위</p>
                <img src="" alt="이미지">
            </div>
            <div class="rankdiv-1">
                <p>2위</p>
                <img src="" alt="이미지">
            </div>
            <div class="rankdiv-1">
                <p>3위</p>
                <img src="" alt="이미지">
            </div>
            <div class="rankdiv-1">
                <p>4위</p>
                <img src="" alt="이미지">
            </div>
        </div>
        <div class="rankdiv2">
            <div class="rankdiv-1">
                <p>5위</p>
                <img src="" alt="이미지">
            </div>
            <div class="rankdiv-1">
                <p>6위</p>
                <img src="" alt="이미지">
            </div>
            <div class="rankdiv-1">
                <p>7위</p>
                <img src="" alt="이미지">
            </div>
            <div class="rankdiv-1">
                <p>8위</p>
                <img src="" alt="이미지">
            </div>
        </div>
    </main>
    
    <footer>
        <p class="pname3">카페 메뉴 리뷰하기</p>
        <p class="pname4">리뷰하고 싶은 카페를 선택하고 메뉴를 등록한 후 평점을 부여해주세요</p>

        <a href="/menu" class="astyle">register</a>
    </footer>
    
    <script>
        
        function toggle(){
        toggle=document.getElementById('toggle')
        toggle.style.display='block'
        }
        function close(){
        toggle=document.getElementById('toggle')
        toggle.style.display="none"
        
        }
    </script>
</body>
</html>