<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>please coffee</title>
    <link rel="stylesheet" href="../static/styles/style.css">
    <!-- Latest compiled and minified CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Latest compiled JavaScript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>

    <style>
        .error-message{
            font-size: 5px;
            color: red;
        }
    </style>

    <script>
        function isTextNum(value){
            return /^[ㄱ-ㅎ가-힣a-zA-Z0-9]+$/.test(value)
        }

        function cafeSubmitCheck(event){
            var cafeName = document.getElementById("cafe-name");
            var atnospher = document.getElementById("atnospher");
            var tableCnt = document.getElementById("tableCnt");
            var time = document.getElementById("time");
            var errorElement = document.getElementById("error-message");


            if(cafeName.value ===""){
                errorElement.innerText = "카페이름을 입력해주세요!";
                return false;
            }

            if(tableCnt.value ===""){
                errorElement.innerText = "";
                var errorElement = document.getElementById("error-message-tableCnt");
                errorElement.innerText = "테이블 수를 입력해주세요!";
                return false;
            }

            if(time.value ===""){
                errorElement.innerText = "";
                var errorElement = document.getElementById("error-message-time");
                errorElement.innerText = "대기 시간을 입력해주세요!";
                return false;
            }



            errorElement.innerText = "";
            return true;
        }

        var form = document.querySelector("form");
            form.addEventListener("submit", function (event) {
                if (!cafeSubmitCheck()) {
                    event.preventDefault();
                }
        });

       
    </script>

</head>
<body>
    <header class="headerdiv">
         <img src="https://mir-s3-cdn-cf.behance.net/project_modules/max_1200/07df6e101533773.5f2100de4b5de.gif" class="img"> 
        <p class="pname1">커피사줘<p>
        
        <div class="bigdiv" >
            
            
            <div class="smallheader1" id="toggle" class="toggle">
            <form action="./" method="post" onsubmit="return cafeSubmitCheck()">
            <div class="smallheader">
                <div class="tinydiv tinydiv-1">
                    <p>카페 이름</p>
                    <input type="text" class="inputwidth" id="cafe-name" name ='cafe-name'>
                    <p class="error-message" id="error-message"></p>
                </div>
                
                <div class="tinydiv">
                    <p>분위기</p>
                    <input type="text"class="inputwidth" id="atmospher" name ='atmospher'>
                    <p></p>
                </div>
                <div class="tinydiv">
                    <p>테이블 수</p>
                    <input type="number" class="inputwidth" id="tableCnt" name ='tableCnt'>
                    <p class="error-message" id="error-message-tableCnt"></p>
                </div>
                <div class="tinydiv">
                    <p>serving-time</p>
                    <input type="number" class="inputwidth" id="time" name = 'time'>
                    <p class="error-message" id="error-message-time"></p>
                </div>
                <div class="tinydiv">
                    <p>주소</p>
                    <input type="text" class="inputwidth" name = 'address'>
                    <p></p>
                </div>
                <div>  
                <button type="submit" class="btn btn-outline-dark topsort left" >등록</button>
                </div>
                <div>

                    <button id="closebutton" type="button" class="btn btn-outline-dark topsort left1" onclick="close2();">close</button>

                </div>
            </div>
            </form>
            </div>
        </div>
    
    <div class="buttondiv">
        <form action="./admin">

            <button type="submit" class="btn btn-outline-dark mb-1 next">admin</button>
        </form>
        <button class="btn btn-outline-dark next" onclick="toggle();">카페등록</button>

        
    </div>
</header>
      

        
    <main>
        <h1 class="h1style">카페 랭킹 Top3</h1>
        <p class="pname2">
            <img src="https://cliply.co/wp-content/uploads/2021/09/CLIPLY_372109170_FREE_FIREWORKS_400.gif" class="img2"> 
        </p>    
        <div class="caferank">
            
            {% for item in top3 %}
            <div class="caferank-1" style="margin-left: 15%;">

                <button type="button" class=" btncolor" data-bs-toggle="modal" data-bs-target="#myModal{{item[0]}}" onclick="pop()">
                    Rank{{loop.index}} {{item.1}}</button>
                    
                <div class="modal" id="myModal{{item[0]}}">
                    <img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/eb7bdb101533773.5f2100de4af23.gif" class="img2"> 
                    <div class="modal-dialog">
                      <div class="modal-content">
                  
                        <!-- Modal Header -->
                        <div class="modal-header">

                          <h4 class="modal-title">{{item[1]}}</h4>

                          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                        </div>
                  
                        <!-- Modal body -->
                        <div class="modal-body">

                            <p>분위기 : {{item[3]}}</p>
                            <hr>
                            <p>테이블수 : {{item[4]}} 개</p>
                            <hr>
                            <p>서비스타임 : {{item[2]}} 분</p>
                            <hr>
                        
                        </div>
                  
                        <!-- Modal footer -->
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                        </div>
                  
                      </div>
                    </div>
                  </div>

             </div>
             {% endfor %}
        </div>
        
        <h1 class="h1style-1">메뉴 순위 </h1>
        
       <div class="rankdiv1">
        {%for rank in menuranks %}
            <div class="rankdiv-1">
                <p>{{loop.index}} : {{rank.0}}</p>
                <img style="height: 150px;" src="/static/img/{{rank.0}}.png" alt="이미지">
            </div>
            
       {%endfor%}
        </div>
        
        <p></p>
    </main>
    <hr>
    <footer>
        <p class="pname3">카페 메뉴 리뷰하기</p>
        <p class="pname4">리뷰하고 싶은 카페를 선택하고 메뉴를 등록한 후 평점을 부여해주세요</p>

        <a href="/menu" class="btn btn-outline-dark ms-5 mb-5">리뷰하기</a>
    
    </footer>
    
    <script>
        let particles = [];
const colors = ["#eb6383","#fa9191","#ffe9c5","#b4f2e1"];
        function toggle(){
        const toggle=document.getElementById('toggle')
        toggle.style.display='block'
        }
        function close2(){
        const close=document.querySelector('#toggle')
        close.style.display="none"
        }
        function render () {
  for (let i = particles.length - 1; i--; i > -1) {
    const p = particles[i];
    p.style.transform = `translate3d(${p.x}px, ${p.y}px, 1px)`;
    
    p.x += p.vel.x;
    p.y += p.vel.y;
    
    p.vel.y += (0.5 * p.mass);
    if (p.y > (window.innerHeight * 2)) {
      p.remove();
      particles.splice(i, 1);
    }
  }
  requestAnimationFrame(render);
}
        function pop () {
  for (let i = 0; i < 150; i++) {
    const p = document.createElement('particule');
    p.x = window.innerWidth * 0.5;
    p.y = window.innerHeight + (Math.random() * window.innerHeight * 0.3);
    p.vel = {
      x: (Math.random() - 0.5) * 10,
      y: Math.random() * -20 - 15
    };
    p.mass = Math.random() * 0.2 + 0.8;
    particles.push(p);
    p.style.transform = `translate(${p.x}px, ${p.y}px)`;
    const size = Math.random() * 15 + 5;
    p.style.width = size + 'px';
    p.style.height = size + 'px';
    p.style.background = colors[Math.floor(Math.random()*colors.length)];
    document.body.appendChild(p);
  }
}
pop();
window.setTimeout(render, 400);

    </script>
</body>
</html>