
html,* {
    font-family: 'HANAMDAUM';
    box-sizing: border-box;
    padding:0;
    margin:0;
}

@font-face {
    font-family: 'HANAMDAUM';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2304-2@1.0/HANAMDAUM.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.img{
    width:150px;
    height:150px;
    border-radius: 50%;
}

.smallheader{
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
    
    

}
.smallheader1{
    display:none;
}
.tinydiv{
    margin-left:20px;
    
}

.tinydiv-1{
    margin-left:30px;
}
.pname{
    margin-left:30px;
    font-weight:bolder;
}
button{
    height:30px;
    width:100px;
    background-color: blue;
    margin-left:20px;
    margin-top:50px;
    border:none;
    border-radius: 12px;
    color:white;
    cursor:pointer;
    

}

.bigdiv{
    margin-top:40px;
    border:1px solid black;
    width:75%;
}

.headerdiv{
    display:flex;
    align-items: center;
    justify-content: center;
}

.pname1{
    margin-left:40px;
    margin-bottom: 50px;
    margin-right:40px;
    width:70px;
    font-weight: bold;
    font-size:25px;

}

.buttonposition{
    margin-top:0px;
    margin-bottom:90px;
    animation:race4 3s}
.inputwidth{
    width:80px;
    height:30px;
}

.h1style{
    font-size:40px;
    margin-left:70px;
    padding-top:40px;
}

.pname2{
    margin-left:70px;
    margin-top:40px;
}

.caferank{
    margin-top:100px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: race2 3s;
}

.caferank-1{
    animation:race2 3s
}

.caferank-2{
    margin:0 100px 0 100px;
    animation:race3 3s

}



.h1style-1{
    text-align: center;
    margin-top:100px;
    margin-bottom:30px;
}

.h2style{
    text-align: center;
    margin-bottom:30px;
}

.rankdiv1{
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom:40px;
    animation:race 3s;

}

.rankdiv2{
    display: flex;
    align-items: center;
    justify-content: center;
    
    animation:race 5s;

}

.rankdiv-1{
    margin-left:60px;
    
}

.pname3{
    margin-left:50px;
    font-size:20px;
    padding-bottom:30px;
    padding-top:30px;
}
.pname4{
    margin-left: 50px;
    font-size:15px;
    padding-bottom:30px;
}

.footerbutton{
    margin-left:50px;
}

main{
    margin-bottom: 200px;
    height:700px;
}

.astyle{
    width:30px;
    margin-left:50px;
    background:blue;
    color:white;
    border-radius: 12px;
    text-decoration: none;
}
.headerdiv{
    background: #BB860B;
}

main{
    background:#FF8C00;
    margin:0;
    padding:0;
}

.admin{
    margin-bottom:20px;
}

footer{
    height:200px;
    background-color:bisque;
    margin:0;
    padding:0
}
@keyframes race {
    from{transform: translateX(-300px)}
    to{
        transform: translateX(0);
    }
}

@keyframes race2{
    from{transform: translateX(300px)}
    to{
        transform:translateX(0)
    }
}

@keyframes race3{
    from{transform: translateY(300px);}
    to{
        transform:translateY(0px)
    }
}

@keyframes race4{
    from{transform:translateY(-100px)}
    to{transform:translateY(0px)}
}