.smallheader{
    display:flex;
    justify-content: center;
    margin-bottom: 30px;
    

}

.tinydiv{
    margin-left:20px;
    
}

.tinydiv-1{
    margin-left:30px;
}
.pname{
    margin-left:30px;
    font-weight:bolder;
}
button{
    height:30px;
    width:100px;
    background-color: blue;
    margin-left:20px;
    margin-top:50px;
    border:none;
    border-radius: 12px;
    color:white;
    cursor:pointer;
    

}

.bigdiv{
    margin-top:40px;
    border:1px solid black;
    width:75%;
}

.headerdiv{
    display:flex;
    align-items: center;
    justify-content: center;
}

.pname1{
    margin-left:40px;
    margin-bottom: 180px;
    margin-right:40px;
    width:70px;
    font-weight: bold;
    font-size:25px;

}

.buttonposition{
    margin-top:0px;
    margin-bottom:90px;
}
.inputwidth{
    width:80px;
    height:30px;
}

.h1style{
    font-size:40px;
    margin-left:70px;
}

.pname2{
    margin-left:70px;
}

.caferank{
    margin-top:100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.caferank-1{
margin-right:200px;
}

.caferank-2{
    margin-right:200px;
}

.caferank-3{
    margin-right:200px;
}

.h1style-1{
    text-align: center;
    margin-top:100px
}

.h2style{
    text-align: center;
}

.rankdiv1{
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.rankdiv2{
    display: flex;
    align-items: center;
    justify-content: center;
   

}

.rankdiv-1{
    margin-left:60px;
}

.pname3{
    margin-left:50px;
    font-size:20px;
    
}
.pname4{
    margin-left: 50px;
    font-size:15px;
}

.footerbutton{
    margin-left:50px;
}

main{
    margin-bottom: 200px;
}
